<h1>About#index</h1>
<p>Find me in app/views/about/index.html.erb</p>
<p>This place sells a somewhat limited selection of cat-themed gift items.  The merchandise is of average to excellent quality and is somewhat overpriced.  Most customers report that the staff is sufficiently nice.</p>